<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not Found</title>
    {{>head}}
</head>
<body>
    {{>header}}
<div>

   
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <h1>Learning Today,<br />Leading Tomorrow</h1>
        <h2>
          {{name}} cannot find the page you're loking for 😟
        </h2>
        <a href="courses" class="btn-get-started">Get Started</a>
      </div>
    </section>
</div>
    {{>footer}}
    
</body>
</html>