<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CGFNS - Synergy Lifeline Consulting</title>
    <meta
      content="Synergy Lifeline Consulting is an Educational Consulting firm located in Abuja Nigeria. Our services includes -Test preparation, study visa application assistance amongst others"
      name="Synergy Lifeline Consulting is an Educational Consulting firm located in Abuja Nigeria. Our services includes -Test preparation, study visa application assistance amongst others"
    />
    <meta
      content="IELTS GRE SAT PTE TOEFL GMAT STUDY VISA"
      name="IELTS GRE SAT PTE TOEFL GMAT STUDY VISA"
    />

    {{>head}}
  </head>
  <body>
    <!-- ======= Header ======= -->
    {{>header}}
    <!-- End Header -->
    <main>
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
      <h2 style="padding-top: 30px">CGFNS CLASS</h2>
      <p>
        Our courses are designed to help you maximize your strong points and
        enable you crack the CGFNS exam like an expert
      </p>
    </div>
  </div>
  <!-- End Breadcrumbs -->

<!-- call us footer -->
<div
class="breadcrumbs bg-warning col-lg-3 col-md-6 mt-4 mt-md-0"
data-aos="fade-in"
style="position: fixed; bottom: 0; z-index: 100; width: 100% ; padding-top: 20px;  height: 15%;"
>
<div><h4><a href="tel:+2348186566561" style="color:white; text-align: center; font-size: 100%; padding-bottom: 25%;"><i class="bi bi-telephone"> </i>Contact Us for All Your Exam Registration </a> </h4> </div>
</div>

<!-- End of call us footer -->
</main>
    <!-- End of main -->

<!-- =============== Course Section Starts =============== -->
  <section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-4 d-flex align-items-stretch" >
          <div class="course-item">
            <img
              src="assets/img/cgfns.jpg"
              class="img-fluid"
              alt="pte logo"
            />
            <div class="course-content">
              <div
                class="d-flex justify-content-between align-items-center mb-3" 
              >
                <h4>CGFNS Personal Class</h4>
                <p style="margin-left: 70px;" class="price">₦64,000 per Month</p>
              </div><br><br>
              <h3>
                <a href="pricing">CGFNS Personal Class</a>
              </h3>
              <p>The CGFNS certification program and exam is designed specifically for first level nurses educated and licensed outside of the United States who wish to take the United States registered nurse licensing exam, called the NCLEX-RN exam and allows them to attain licensure to practice as a registered nurse in the United States. 
              </p>
              
            </div>
          </div>
         
        </div>
        <!-- End Course Item-->

        <div
        class="col-lg-8 col-md-8 col-sm-12"
        >
          <div class="course-item">
            
            <div class="course-content">
             
               
              <p>The <a href="http://CGFNS.org">CGFNS</a> program is comprised of three parts; a credential review of the nurse’s education, registration, and licensure; the CGFNS Qualifying Exam; a one day qualifying exam testing the nursing knowledge and bedside manner; and finally an English language proficiency exam. Upon completion of all three elements the applicant is awarded a CGFNS Certificate. 

                      <br><br>

                The CGFNS Certification Program is designed only for first level, general nurses educated or licensed outside the United States who wish to obtain licensure in the United States. In order to be eligible for this program, a nurse must be educated and hold both initial and current registration as a first level, general nurse as defined by the International Council of Nurse (ICN). A first level nurse is called a registered or professional nurse in most countries around the world.
                
                 <br><br>
                
                A second level nurse called an enrolled, vocational, practical nurse or nurse assistant is not eligible to be licensed as a registered nurse in the United States and therefore is not eligible for the Certification Exam. A general nurse must have received theoretical instruction and clinical practice in many nursing areas. A nurse who specialized in one area without being educated and registered as a general nurse is not eligible for the Certification exam either.
                <br><br>
                The Internet-based CGFNS Qualifying Exam®is given in March, July, September and November, every year, during a five-day test window in each of these months.
                
                 
                <br><br>
                This exam measures the applicant’s nursing knowledge and is based on the necessities of nursing in the United States. The foundations of the Qualifying Exam are based on patient needs. The traditional clinical areas of nursing practice viz: nursing care of the adult, nursing care of children, maternal and infant nursing care, psychiatric and mental nursing, and community health nursing are covered within the exam. The exam ensures that the applicant is as qualified as a nurse trained in the United States and has a various understanding of several different patient groups and in different patient settings.
                
                  
              </p>              
            </div>
          </div>
        </div>
        <!-- End Course Item-->
      </div>
    </div>   
    <!-- End Course Item-->
  </section>

    <!-- End of Course Section -->


    <!-- ======= Footer ======= -->
   {{>footer}}
      <!-- End Footer -->
  
  
      <div id="preloader"></div>
      <a
        href="#"
        class="back-to-top d-flex align-items-center justify-content-center"
        ><i class="bi bi-arrow-up-short"></i
      ></a>
  
    
  </body>
</html>
