<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>COURSES - Synergy Lifeline Consulting</title>
    <meta
      content="Synergy Lifeline Consulting is an Educational Consulting firm located in Abuja Nigeria. Our services includes -Test preparation, study visa application assistance amongst others"
      name="Synergy Lifeline Consulting is an Educational Consulting firm located in Abuja Nigeria. Our services includes -Test preparation, study visa application assistance amongst others"
    />
    <meta
      content="IELTS GRE SAT PTE TOEFL GMAT STUDY VISA"
      name="IELTS GRE SAT PTE TOEFL GMAT STUDY VISA"
    />

    {{>head}}

     
  </head>
  <body>
    
    <!-- Call us footer -->

    <div
    class="breadcrumbs bg-warning col-lg-3 col-md-6 mt-4 mt-md-0"
    data-aos="fade-in"
    style="position: fixed; bottom: 0; z-index: 100; width: 100% ; padding-top: 20px;  height: 15%;"
    >
    <div><h4><a href="tel:+2348186566561" style="color:white; text-align: center; font-size: 100%; padding-bottom: 25%;"><i class="bi bi-telephone"> </i>Contact Us for All Your Exam Registration </a> </h4> </div>
    </div>
    
    <!-- End of call us footer -->
    <!-- ======= Header ======= -->
    {{>header}}
    <!-- End Header -->

    <div class="breadcrumbs">
      <div class="container">
        <h2 style="padding-top: 30px">GRE FAQs</h2>
        <p>
          Our courses are designed to help you maximize your strong points and
          enable you crack the GRE exam like an expert
        </p>
      </div>
    </div>
    <main>
      <section class="container">
        <div class="justify-content-between align-items-center mb-3">
          <h3><strong>GMAT FAQs in Nigeria</strong></h3>
          <br /><ol>  
          
           <li><strong>Why do B-schools require GMAT scores?</strong></li>
            
             
            
           <p>   Over 1900 graduate business schools around the world use GMAT scores as a part of their admissions process to their management programs.</p>
            
         
            <li><strong>What does the GMAT exam measure?</strong></li>
            
            <p>The GMAT exam measures basic verbal, mathematical, Integrated reasoning and analytical writing skills that you have developed in your education and work. <br><br> It does <strong>NOT</strong>  measure:</p><p>
            <ul><li>Your knowledge of business,</li><li> Your job skills</li><li>Specific content in your undergraduate or first university course work</li><li>Your abilities in any other specific subject area</li><li>Subjective qualities - such as motivation, creativity, and interpersonal skills</li></ul></p>
            
             <li><strong>How long are GMAT scores valid?</strong></li>
            
             
            
            <p> GMAT score is valid for five years, so you have the flexibility of “banking it” - choosing to start your graduate studies right after university or later on.</p>
            
           
            <li><strong>What is the mode of taking the test?</strong></li>
             
            
            <p>  GMAT is a computer based test. In Nigeria, the test can be written in Lagos and Abuja only. The GMAT test holds every week day in Lagos while it is delivered on Tuesdays and Thursdays only in Abuja.</p>
            
          
 
</ol>
        </div>
      </section>
      <!-- End of section -->
    </main>
    
    <!-- ======= Footer ======= -->
    {{>footer}}
    <!-- End Footer -->


     {{>preloader}}

  </body>
</html>
