<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Pricing - Tuition Fee Calender</title>
    <meta
      content=""
      name="discription of tuition fees at synergy Lifeline consulting"
    />
    <meta content="" name="cost of ielts gre sat toefl gmats tutoring" />

    <script defer src="pricing-script.js"></script>
   {{>head}}


    <link rel="stylesheet" href="pricing-style.css"> 
  </head>

  <body>
    
    <!-- ======= Header ======= -->
    {{>header}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2 style="padding-top: 30px">Pricing</h2>
          <p>
            SYNERGY LIFELINE CONSULTING, ABUJA. FEES FOR OUR PRODUCTS AND
            SERVICES
          </p>
        </div>
      </div>
      <!-- End Breadcrumbs -->
      <div id="call-us"
        class="breadcrumbs bg-warning col-lg-3 col-md-6 mt-4 mt-md-0"
        data-aos="fade-in"
        style="position: fixed; bottom: 0; z-index: 100; width: 100% ; padding-top: 20px;  height: 15%;"
      >
        <div ><h4><a href="tel:+2348186566561" style="color:white; text-align: center; font-size: 100%; padding-bottom: 25%;"><i class="bi bi-telephone"> </i>Contact Us for All Your Exam Registration </a> </h4> </div>
      </div>
      <!-- ======= Pricing Section ======= -->
      <section >
        <div  data-aos="fade-up">
          <div class="box">
            <div class="columns">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: gray; font: size 15px;">Diagnostic Exam</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>0<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Exam</span></li>
                  <li>IELTS Diagnostic</li>
                  <li>SAT Diagnostic</li>
                  <li>GRE Diagnostic</li>
                  <li>TOEFL Diagnostic</li>
                  <li>GMAT Diagnostic</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            <div class="columns" id="ielts-class">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: gray; font: size 15px;">IELTS Group Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>40,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Course</span></li>
                 <li>Monday, Wednesday, Friday</li>
                 <li>9:00am to 11:am</li>
                 <li>Access to study materials</li>
                 <li>10+ Full length IELTS exams</li>
                 <li>Interactive class sessions</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            <div class="columns " id="gre-class">
              <div >           
                <ul class="price ">
                  <li class="header bg-light" style="color: #777777; font: size 15px;">GRE Group Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>60,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Course</span></li>
                 <li>Monday, Tuesday, Wednesday, Thursday</li>
                 <li>12noon to 3:00pm</li>
                 <li>Study materials Included</li>
                 <li>5+ full length GRE mock exams</li>
                 <li>Unlimited access to online resources</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            <div class=" columns" id="sat-class">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: #777777; font: size 15px;">SAT Group Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>60,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Course</span></li>
                  <li>Monday, Tuesday, Wednesday, Thursday</li>
                  <li>9:00am to 12 noon</li>
                  <li>Study materials Included</li>
                  <li>15+ full length SAT mock exams</li>
                  <li>Unlimited access to online resources</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            <div class=" columns" id="sat-class">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: #777777; font: size 15px;">1v1 Personal Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>96,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Month</span></li>
                  <li>2 Contacts per week</li>
                  <li>2 Hours per contact</li>
                  <li><strong>Location: <br> Synergy Lifeline Classroom</strong> </li>
                  <li>Personalized Syllabus</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            <div class=" columns" id="sat-class">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: #777777; font: size 15px;">1v1 Personal Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>128,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Month</span></li>
                  <li>2 Contacts per week</li>
                  <li>2 Hours per contact</li>
                  <li><strong>Location: <br> Client's preferred venue</strong> </li>
                  <li>Personalized Syllabus</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            


            <div class=" columns" id="sat-class">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: #777777; font: size 15px;">1v1 Personal Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>144,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Month</span></li>
                  <li>3 Contacts per week</li>
                  <li>2 Hours per contact</li>
                  <li><strong>Location: <br> Synergy Lifeline Classroom</strong> </li>
                  <li>Personalized Syllabus</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>

            <div class=" columns" id="sat-class">
              <div >           
                <ul class="price">
                  <li class="header bg-light" style="color: #777777; font: size 15px;">1v1 Personal Class</li> 
                  <li style="
                  font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;
                  margin-bottom: 20px;"><sup>₦</sup>192,000<span style="
                  color: #777777;
                  font-size: 16px;
                  font-weight: 300;">/Month</span></li>
                  <li>3 Contacts per week</li>
                  <li>2 Hours per contact</li>
                  <li><strong>Location: <br> Client's preferred venue</strong> </li>
                  <li>Personalized Syllabus</li>
                  <li class="grey"><a href="tel:+2348186566561" class="button btn-buy">Book Now</a></li>
                </ul>                
              </div>
            </div>
            
            <button style="border: none; width: 100%; margin-top: 40px; height: 60px;font-size: 100%; " class="button price private-class btn-buy bg-main">Click Here For More Information On Private Classes</button>

            <!-- Begining of more pricing popuo -->

           
            <div style="width: 100%;" id="privateClass" class="hidden private-container">
              
              <div class="breadcrumbs " style="background-color: white; margin-bottom: 20px; margin-top: 0%; padding-top: 0%;">
                <div class="container">
                  <h2 style="font-size: 36px;
                  color: #5fcf80;
                  font-weight: 600;
                  font-family: Poppins, sans-serif;">Prices for Private Classes</h2>
                
                </div>
              </div>
              
             
              <button class="close-modal">&times;</button>

            <div class="col-lg-8 col-md-8 col-sm-12  align-items-center" style="margin: auto;">
              <form >
                
                <div class="row">
                  <div class="col-25">
                    <label for="Location">Location</label>
                  </div>
                  <div class="col-75">
                    <select id="location" name="Location"  >
                      <option value="" selected disabled>Please select</option>
                      <option value="6">Synergy LifeLine Classroom</option>
                      <option value="8">Client's Preferred Location</option>                      
                    </select>
                  </div>
                </div>

               <div class="row">
                  <div class="col-25">
                    <label >Number of Classes per Week</label>
                  </div>
                  <div class="col-75">
                    <select id="contacts-week" name="contact-week">
                      <option value="" selected disabled>Please select</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="hours">Number of Hours Per Class</label>
                  </div>
                  <div class="col-75">
                    <select id="hours" name="hours"  >
                      <option value="" selected disabled>Please select</option>
                      <option value="2">2</option>
                      <option value="3">3</option>                      
                    </select>
                  </div>
                </div>


                <div class="row" id="private-price" style="margin-top: 30px;">
                  
                </div>
              </form>
            </div> 
          </div>

            

            <!-- end of more pricing popup -->
           
      <!-- End Pricing Section -->
      <div class="overlay hidden"></div>
    </main>
    <!-- End #main -->
  
    <!-- ======= Footer ======= -->
    {{>footer}}
    <!-- End Footer -->

    <div id="preloader" style="z-index: 1500"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    
     </body>
</html>
