<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Trainers - Synergy Lifeline Consulting</title>
    <meta content="" name="lists of all the tutors at synergy lifeline consulting" />
    <meta content="" name="ielts gre sat synergy lifeline tutors" />

    {{>head}}

  </head>

  <body><!-- Call us footer -->

    <div
    class="breadcrumbs bg-warning col-lg-3 col-md-6 mt-4 mt-md-0"
    data-aos="fade-in"
    style="position: fixed; bottom: 0; z-index: 100; width: 100% ; padding-top: 20px;  height: 15%;"
    >
    <div><h4><a href="tel:+2348186566561" style="color:white; text-align: center; font-size: 100%; padding-bottom: 25%;"><i class="bi bi-telephone"> </i>Contact Us for All Your Exam Registration </a> </h4> </div>
    </div>
    
    <!-- End of call us footer -->
    <!-- ======= Header ======= -->
   {{>header}}
    <!-- End Header -->

    <main id="main" data-aos="fade-in">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2 style="padding-top: 30px">Trainers</h2>
          <p>
            We hire only the best tutors who have sat through the exam, so you
            can get the best insights on how to ace your exams.
          </p>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= Trainers Section ======= -->
     {{>trainers}}
      <!-- End Trainers Section -->
    </main>
    <!-- End #main -->

   <!-- ======= Footer ======= -->
  {{>footer}}
  <!-- End Footer -->
     {{>preloader}}   
  </body>
</html>
