<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-1.jpg"
            class="img-fluid"
            alt="image of mr ifeanyi"
          />
          <div class="member-content">
            <h4>Ifeanyi</h4>
            <span>Education Counsellor</span>
            <p>
              As an Education Counselor, I work with students (undergraduate and
              graduate) to choose appropriate programs and schools that match
              their profiles and/or aspirations. I am also part of the team at
              {{name}}
              that prepares students to ace the following exams: GRE GMAT SAT
              IELTS TOEFL and PTE
            </p>
            <div class="social">
              <a
                href="https://www.linkedin.com/in/ifeanyi-chinanti-22478538/"
              ><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-2.jpg"
            class="img-fluid"
            alt="image of ms Amara"
          />
          <div class="member-content">
            <h4>Ms Amara</h4>
            <span>Tutor</span>
            <p>
              Resourceful and dedicated tutor with excellent analytical skills
              and a demonstrated commitment to providing great customer service.
              Strong organizational abilities with proven successes managing
              multiple academic projects and events. Well-rounded and
              professional team player dedicated to continuing academic
              pursuits.
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/amara-moronu-046928180/"><i
                  class="bi bi-linkedin"
                ></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-3.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-content">
            <h4>Ali</h4>
            <span>Tutor</span>
            <p>Passionate about tutoring I designed the Synergy Maths Clinic
              project. Geared towards developing programs to help secondary
              school students with mathematics phobia to overcome their fear by
              tutoring maths concepts in a fun and interactive manner.
            </p>
            <div class="social">
              <a href="https://nl.linkedin.com/in/okaiali"><i
                  class="bi bi-linkedin"
                ></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Trainers Section -->