<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAT Diagnostics</title>
    <script defer src="sat-diagnostics.js"></script>

    {{>head}}
   
  </head>
 
  <body>
  <header style="margin-bottom: 9rem; display:block">{{>header}}</header>
  <section id="default">
<div class="container" style="margin-top: 30px;">
<div class="row">
<div style="padding-bottom: 15px;" >
  <h1 style="margin: auto;">SECTION 1</h1>
  <p > <strong >65 MINUTES, 52 QUESTIONS</strong><br></p>   
  <span style="color: white; background-color: black; padding:5px;">DIRECTIONS</span><p style="padding: 10px 0;">Each passage or pair of passages below is followed by a number of questions. After reading
each passage or pair, choose the best answer to each question based on what is stated or
implied in the passage or passages and in any accompanying graphics (such as a table or
graph).</p>
  </div>
  <div class="col-lg-7 col-md-4 col-sm-12"><p><strong>Questions 1-10 are based on the following
passage.</strong></p>
<p>
  This passage is adapted from Nikolai Gogol, “The Mysterious
Portrait.” Originally published in 1835.
</p>
<p>
  Young Tchartkoff was an artist of talent, which
promised great things: his work gave evidence of
observation, thought, and a strong inclination to
approach nearer to nature.
</p>
<p>
  “Look here, my friend,” his professor said to him
more than once, “you have talent; it will be a shame if
you waste it: but you are impatient; you have but to
be attracted by anything, to fall in love with it, you
become engrossed with it, and all else goes for
nothing, and you won’t even look at it. See to it that
you do not become a fashionable artist. At present
your colouring begins to assert itself too loudly; and
your drawing is at times quite weak; you are already
striving after the fashionable style, because it strikes
the eye at once. Have a care! society already begins to
have its attraction for you: I have seen you with a
shiny hat, a foppish neckerchief. . . . It is seductive to
paint fashionable little pictures and portraits for
money; but talent is ruined, not developed, by that
means. Be patient; think out every piece of work,
discard your foppishness; let others amass money,
your own will not fail you.”
</p>
<p>
  The professor was partly right. Our artist
sometimes wanted to enjoy himself, to play the fop,
in short, to give vent to his youthful impulses in
some way or other; but he could control himself
withal. At times he would forget everything, when he
had once taken his brush in his hand, and could not tear himself from it except as from a delightful
dream. His taste perceptibly developed. He did not as
yet understand all the depths of Raphael, but he was
attracted by Guido’s broad and rapid handling, he
paused before Titian’s portraits, he delighted in the
Flemish masters. The dark veil enshrouding the
ancient pictures had not yet wholly passed away from
before them; but he already saw something in them,
though in private he did not agree with the professor
that the secrets of the old masters are irremediably
lost to us. It seemed to him that the nineteenth
century had improved upon them considerably, that
the delineation of nature was more clear, more vivid,
more close. It sometimes vexed him when he saw
how a strange artist, French or German, sometimes
not even a painter by profession, but only a skilful
dauber, produced, by the celerity of his brush and the
vividness of his colouring, a universal commotion,
and amassed in a twinkling a funded capital. This did
not occur to him when fully occupied with his own
work, for then he forgot food and drink and all the
world. But when dire want arrived, when he had no
money wherewith to buy brushes and colours, when
his implacable landlord came ten times a day to
demand the rent for his rooms, then did the luck of
the wealthy artists recur to his hungry imagination;
then did the thought which so often traverses
Russian minds, to give up altogether, and go down
hill, utterly to the bad, traverse his. And now he was
almost in this frame of mind.
</p>
“Yes, it is all very well, to be patient, be patient!”
he exclaimed, with vexation; “but there is an end to
patience at last. Be patient! but what money have I to buy a dinner with to-morrow? No one will lend me
any. If I did bring myself to sell all my pictures and
sketches, they would not give me twenty kopeks for
the whole of them. They are useful; I feel that not one
of them has been undertaken in vain; I have learned
something from each one. Yes, but of what use is it?
Studies, sketches, all will be studies, trial-sketches to
the end. And who will buy, not even knowing me by
name? Who wants drawings from the antique, or the
life class, or my unfinished love of a Psyche, or the
interior of my room, or the portrait of Nikita, though
it is better, to tell the truth, than the portraits by any
of the fashionable artists? Why do I worry, and toil
like a learner over the alphabet, when I might shine
as brightly as the rest, and have money, too, like
them?”
<p>

</p>
</div>
  <div class="col-lg-5 col-md-8 col-sm-12">
    
{{!-- Question 1 --}}
<div class="question">
    <h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">1</span> </h5>
  <p>The passage is primarily focused on the</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">Influence of a professor on one of his students.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">Struggles of a young artist conflicted about his
values.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">Descent of a character into hopelessness and
madness.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">Personal life of a young painter in relation to
his art.</p> </label><br>

<br></div>
{{!-- Question 2 --}}

    
  <div class="question">  <h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">2</span> </h5>
  <p>The first paragraph serves mainly to establish the</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">Ironic outlook of the narrator.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">Central conflict depicted in the passage.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">Main character’s defining artistic traits.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">Relationship between two characters.</p> </label><br><br></div>
  
  {{!-- Question 3 --}}

   
    <div class="question"> <h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">3</span> </h5>
  <p>The passage suggests that Tchartkoff’s professor
believes that great art should be</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">Technically accomplished and not garish.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">Pleasing to the eye but not overly popular.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">Original in approach and spontaneous in
execution.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">Representative of the artist’s morals and beliefs.</p> </label><br><br></div>
  
{{!-- Question 4 --}}

<div class="question"><h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">4</span> </h5>
  <p>Which choice provides the best evidence for the
answer to the previous question?</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">Lines 5-10 (“Look . . . at it”)</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">Lines 11-15 (“At present... once”)
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">Lines 15-17 (“Have... neckerchief”)</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">Lines 23-27 (“The professor... withal”)</p> </label><br><br></div>

</div>
<hr style="padding-bottom: 10px;">
<div class="row" >
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="question"><h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">5</span> </h5>
  <p>As used in lines 11, 14, and 18, the word
“fashionable” most nearly means
</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">stylish</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">trendy.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">modern.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">conventional.</p> </label><br><br></div>
 

 
      <div class="question"><h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">6</span> </h5>
  <p>According to the passage, one point of disagreement
between Tchartkoff and his professor concerns
whether
</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">making money from selling paintings destroys
artistic integrity.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">fashionable artists are capable of making enough
money from their art to support themselves.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">nineteenth-century painters had been able to
expand on the insights of the old masters..</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;"> nonprofessional painters are capable of
producing serious artworks.</p> </label><br><br></div>
 
  

   <div class="question"> <h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">7</span> </h5>
  <p>As used in line 50, “want” most nearly means
</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">need</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">absence.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">ambition.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">greed.</p> </label><br><br></div>
  </div>
   <div class="col-lg-6 col-md-6 col-sm-12">
  
  <div class="question"> <h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">8</span> </h5>
  <p>The passage suggests that to some extent, Tchartkoff
finds maintaining his high artistic standards to be a
</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;"> means of attaining short-lived fame as opposed
to a lasting reputation.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">goal less important for his professor than it is for
himself.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">necessary pathway to a goal he now seeks to
accomplish.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">laborious undertaking that does not provide
suitable compensation.</p> </label><br><br></div>
  
  <div class="question"><h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">9</span> </h5>
  <p>Which choice provides the best evidence for the
answer to the previous question?
</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;">  Lines 59-61 (“Yes... last”)</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;">Lines 63-65 (“IfI... them”)
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;">Lines 69-70 (“And who... name”)</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;">Lines 74-77 (“Why... them”)
</p> </label><br><br></div>

  <div class="question"><h5 style="background-color: gray;color:white;"><span style="background-color: black; padding:0 10px">10</span> </h5>
  <p>
The last paragraph primarily serves to
</p>
  <input  type="checkbox" name="" id="sec1-1-a"><label for=""><p style="padding: 0 10px;"> suggest contradictions in Tchartkoff’s argument.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-b"><label for=""><p style="padding: 0 10px;"> expose the hypocrisy of Tchartkoff’s mind-set.
</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-c"><label for=""><p style="padding: 0 10px;"> catalog Tchartkoff’s frustrations with his
situation.</p> </label><br>
  <input  type="checkbox" name="" id="sec1-1-d"><label for=""><p style="padding: 0 10px;"> examine the subject matter of Tchartkoff’s
paintings.</p> </label><br><br></div>
  
   </div>

   <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12"></div>
  <div class="col-lg-2 col-md4 col-sm-12">
<a href="#" id="nxt-pg" class="get-started-btn">Next Page</a></div> 
   </div>
  
  
  </div>
  </section>

  



</body>
  
  <footer>

{{>footer}}
  </footer>

</html>